# dependencies
/node_modules

# production
/.next
/out

# testing
/coverage

# environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# next.js build output
.next/
/out/

# misc
.DS_Store
*.log
npm-debug.log*

# VSCode
.vscode/

# typescript
*.tsbuildinfo

# vercel
.vercel

# yarn
.yarn/
.pnp.*
